footer {
    background: #0a6571;
    color: white;
    text-align: center;
}
footer h2 {
    font-size: 60px;
    padding: 40px 0px 20px 0px;
}
footer p {
    font-size: 16px;
    padding: 10px 0px 60px 0px;
}

@media only screen and (max-width: 1200px) and (min-width: 769px){
    footer h2 {
        font-size: 45px;
        padding: 40px 0px 20px 0px;
    }
    footer p {
        font-size: 14px;
        padding: 10px 0px 60px 0px;
    }
}

@media only screen and (max-width: 768px) {
    footer h2 {
        font-size: 35px;
        padding: 30px 0px 10px 0px;
    }
    footer p {
        font-size: 12px;
        padding: 10px 0px 40px 0px;
    }
}