@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url("table.css");
@import url("related.css");
@import url("footer.css");
@import url("accordion.css");
@import url("works.css");
@import url("device.css");
@import url("tab.css");

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Myriad Set Pro','Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}
#wrapper {
    max-width: 100%;
    height: auto;
}
#container {
    width: 100%;
}
#wrapper .work_link {
    position: fixed;
    top: 45%;
    right: 0px;
    display: block;
    z-index: 10000;
    background-color: #dedede;
    padding: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 1px 2px gray;
    opacity: 0.7;
}
#wrapper .work_link:hover {
    background-color: #cdcdcd;
    box-shadow: 0px 1px 2px darkgray;
    opacity: 0.95;
}
#container .head #arrow_down {
    display: block;
    width: 100%;
    position: relative;
    top: -200px;
    text-align: center;
}
#container .head #scroll_down {
    width: 75px;
    height: 75px;
    margin: 0 auto;
}
#container .head .scroll_down:hover {
    color: #ccc;
}
#container .head .head_text {
    color:white;
    width: 70%;
    height: auto;
    margin: auto;
    position: relative;
    top: 300px;
}
#container .head .head_text h1 {
    font-size: 160px;
}
#container .head .head_text p {
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}
#container .def {
    text-align: center;
    padding-top: 80px;
    width: 100%;
}
#container .def p {
    font-size: 50px;
}
#container .def h1 {
    font-size: 70px;
}
#container .def .def_help_text {
    width: 50%;
    font-size: 26px;
    margin: 80px auto 80px;
}
#container .def .def_help_text a {
    font-size: 20px;
    color: #0a6571;
    padding: 18px;
    background-color: darkgrey;
    margin-top: 20px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 2px 3px silver;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
#container .def .def_help_text a:hover {
    color: #fff;
    box-shadow: 0px 2px 3px gray;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
#container .def img {
    width: inherit;
    margin-bottom: 120px;
}
#container section.features {
    /*margin-bottom: 100px;*/
}
#container .vr{
    max-width: 1500px;
    margin: auto;
    margin-top: 120px;
}
#container .vr2 {
    max-width: 1500px;
    margin: auto;
    background-color: #f0f0f0;
}
#container .color_back {
    width: 100%;
    background-color: #f0f0f0;
}
#container .vr .vr_01 {
    max-width: 500px;
    position: relative;
    top: 160px;
    float: right;
}
#container .vr2 .vr_02 {
    max-width: 500px;
    position: relative;
    top: 220px;
    float: left;
    left: 6%;
}
#container .vr .vr_03 {
    max-width: 780px;
    position: relative;
    top: 40px;
    margin: auto;
    text-align: center;
}
#container .vr h2, #container .vr2 h2{
    font-size: 32px;
    margin-bottom: 20px;
}
#container .vr p, #container .vr2 p {
    font-size: 22px;
}
#container .vr .fig01 {
    background-image: url(../images/fig_01.png);
    background-repeat: no-repeat;
    height: 563px;
}
#container .vr2 .fig02 {
    background-image: url(../images/fig_02.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 614px;
}
#container .vr .fig03 {
    background-image: url(../images/fig_03.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
}
#container .dark_back {
    background: #f0f0f0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f0f0f0, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f0f0f0, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f0f0f0, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#898989, white); /* Standard syntax */
    background: -webkit-gradient(linear, left top, left bottom, from(gray), to(#fff), color-stop(0.25, #eee));
}
#container .quote {
    margin-top: 100px;
    background-image: url(../images/vr_quote.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}
#container .quote p{
    color: white;
    font-size: 28px;
    max-width: 700px;
    margin: auto;
    position: relative;
    top: 150px;
    left: 220px;
    font-family: 'Lato', sans-serif;
    word-spacing: 5px;
}
#scrollUp {
    bottom: 20px;
    right: 20px;
    background: #000 url(../images/scrollup.png) 50% 50% no-repeat;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
}
#scrollUp:hover {
    opacity: 0.8;
}

.def_help_text, .fade, .vr_01, .vr_02, .vr_03 {
    opacity: 0;
}

@media only screen and (max-width: 1200px) and (min-width: 769px){
    #container .def{
        padding-top: 60px;
    }
    #container .def p{
        font-size: 36px;
    }
    #container .def h1{
        font-size: 50px;
        margin-top: 0px;
    }
    #container .def .def_help_text{
        font-size: 20px;
        margin: 40px auto 40px;
    }
    #container .def .def_help_text a {
        font-size: 16px;
        padding: 15px;
    }
    #container .vr, #container .vr2 {
        min-width: 960px;
    }
    #container .vr .fig01 {
        background-image: url(../images/fig_01_tab.png);
        background-repeat: no-repeat;
        height: 282px;
        margin-left: 80px;
    }
    #container .vr2 .fig02 {
        background-image: url(../images/fig_02_tab.png);
        background-repeat: no-repeat;
        background-position: right;
        height: 300px;
        margin-right: 120px;
    }
    #container .vr .fig03 {
        background-image: url(../images/fig_03_tab.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 282px;
    }
    #container .vr{
        width: 100%;
        margin: auto;
        margin-top: 120px;
    }
     #container .vr2{
        padding-top: 40px;
    }
    #container .vr .vr_01 {
        max-width: 400px;
        position: relative;
        top: 30px;
        float: right;
        right: 10%;
    }
    #container .vr2 .vr_02 {
        max-width: 400px;
        position: relative;
        top: 70px;
        float: left;
        left: 10%;
    }
    #container .vr .vr_03 {
        max-width: 780px;
        position: relative;
        top: 0px;
        margin: auto;
        text-align: center;
    }
    #container .vr h2, #container .vr2 h2{
        font-size: 24px;
        margin-bottom: 20px;
    }
    #container .vr p, #container .vr2 p {
        font-size: 18px;
    }
    #container .quote {
        margin-top: 80px;
        background-image: url(../images/vr_quote_tab.jpg);
        height: 281px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #container .quote p{
        color: white;
        font-size: 20px;
        max-width: 500px;
        top: 90px;
        left: 20%;
        font-family: 'Lato', sans-serif;
        word-spacing: 5px;
    }
    #container .head #arrow_down {
        top: -100px;
    }
    .def_help_text, .fade, .vr_01, .vr_02, .vr_03 {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px){
    #container .def{
        padding-top: 30px;
    }
    #container .def p{
        font-size: 30px;
    }
    #container .def h1{
        font-size: 40px;
        margin-top: 0px;
    }
    #container .def .def_help_text{
        font-size: 16px;
        margin: 40px auto 40px;
        width: 70%;
    }
    #container .vr{
        width: 100%;
        margin: auto;
        margin-top: 120px;
    }
    #container .vr2 {
        padding-top: 80px;
    }
    #container .vr .fig01 {
        background-image: url(../images/fig_01_mob.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 193px;
    }
    #container .vr2 .fig02 {
        background-image: url(../images/fig_02_mob.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 252px;
        margin: auto;
    }
    #container .vr .fig03 {
        background-image: url(../images/fig_03_tab.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 282px;
    }
    #container .vr .vr_01 {
        max-width: 750px;
        position: relative;
        top: 0px;
        left: 0px;
        float: none;
        margin: auto;
        text-align: center;
        margin: 0px auto 30px;
    }
    #container .vr2 .vr_02 {
        max-width: 700px;
        position: relative;
        top: 0px;
        left: 0px;
        float: none;
        text-align: center;
        margin: 0px auto 30px;
    }
    #container .vr .vr_03 {
        max-width: 700px;
        position: relative;
        top: 0px;
        margin: -30px auto 20px;
        text-align: center;
    }
    #container .vr h2, #container .vr2 h2{
        font-size: 20px;
        margin-bottom: 20px;
    }
    #container .vr p, #container .vr2 p {
        font-size: 16px;
    }
    #container .quote {
        margin-top: 80px;
        background-image: none;
        background-color: dimgray;
        height: auto;
    }
    #container .quote p{
        font-size: 17px;
        text-align: center;
        top: 0px;
        left: 0px;
        font-family: 'Lato';
        word-spacing: 5px;
        margin: auto;
        padding: 70px 20px 70px 20px;
    }
    #container .head #arrow_down {
        top: -80px;
        display: none;
    }
    #scrollUp {
        padding: 0px;
        background: #000 url(../images/scrollup_mob.png) 50% 50% no-repeat;
        width: 30px;
        height: 30px;
    }
    .def_help_text, .fade, .vr_01, .vr_02, .vr_03 {
        opacity: 1;
    }
}